C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	1	    -5.38770	     4.93742	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	2	    -2.92187	     4.84433	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	3	    -0.49439	     4.68172	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	4	     1.79834	     4.49867	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	5	     3.93369	     4.29866	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	6	    -5.04787	     2.42494	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	7	    -2.77407	     2.34340	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	8	    -0.55643	     2.23887	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	9	     1.55720	     2.14320	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	10	     3.55246	     2.04441	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	11	    -4.71235	     0.30738	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	12	    -2.63868	     0.24322	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	13	    -0.61275	     0.17794	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	14	     1.34004	     0.13305	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	15	     3.19895	     0.09228	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	16	    -4.43154	    -1.49013	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	17	    -2.53130	    -1.53833	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	18	    -0.66436	    -1.57560	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	19	     1.15140	    -1.59753	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	20	     2.88537	    -1.59671	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	21	    -4.19557	    -3.02777	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	22	    -2.44070	    -3.06606	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	23	    -0.70131	    -3.09871	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	24	     0.99217	    -3.09563	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_09_20180803.jpg	25	     2.62277	    -3.07743	1 0 0 1
