C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	1	     4.61870	     4.51899	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	2	     4.24460	     2.17380	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	3	     3.87103	     0.06177	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	4	     3.52376	    -1.81199	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	5	     3.21581	    -3.47856	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	6	     2.50814	     4.86010	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	7	     2.23171	     2.34603	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	8	     1.98129	     0.09176	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	9	     1.74438	    -1.90657	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	10	     1.53652	    -3.67725	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	12	    -0.03390	     2.52952	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	13	    -0.15259	     0.12998	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	14	    -0.26125	    -1.99528	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	15	    -0.36020	    -3.89174	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	17	    -2.56681	     2.73465	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	18	    -2.54527	     0.19581	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	19	    -2.51979	    -2.06973	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	20	    -2.49161	    -4.10405	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	22	    -5.34645	     2.92688	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	23	    -5.19612	     0.25175	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	24	    -5.03518	    -2.15865	1 0 0 1
C:\Users\Salazar\OneDrive - purdue.edu\Sem 3\CE 597\Projects\Project 1\AKAM_Images\65_17_20180803.jpg	25	    -4.85747	    -4.31123	1 0 0 1
